DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=wallpapers
POSTGRES_USER=wallpapers
POSTGRES_PASSWORD=wallpapers
POSTGRES_HOST=db
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000
API_PORT=8000

API_CPUS=1.5
API_MEM_LIMIT=1536m
API_MEM_RESERVATION=512m
API_PIDS=256

DB_CPUS=1.25
DB_MEM_LIMIT=2560m
DB_MEM_RESERVATION=1024m
DB_PIDS=256
